
#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}

.jumbotron {
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
}

.card-header {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
 
th, td  {
  text-align: left;
  padding: 8px;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

tr:nth-child(even){
  background-color: #f2f2f2
}

