#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}

.jumbotron {
  font-family: 'Raleway', sans-serif
}


.card-header{
  font-family: 'Raleway', sans-serif;
}

td{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}